<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cover</key>
			<string>http://i0.hdslb.com/u_user/b16e049337ae143a6392180ad1fa3334.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/u16u</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>267000000</integer>
			<key>id</key>
			<integer>29</integer>
			<key>new</key>
			<integer>1</integer>
			<key>summary</key>
			<string>命运之战，一触即发！</string>
			<key>title</key>
			<string>神威启示录</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i1.hdslb.com/u_user/261e0cafa6933e8b62a7843532d818bc.jpg</string>
			<key>download_link</key>
			<string>http://ad.api.biligame.net/api/v1/ad/plan/detail?id=3</string>
			<key>hot</key>
			<integer>1</integer>
			<key>iOS_pkg_size</key>
			<integer>173015040</integer>
			<key>id</key>
			<integer>4</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>谁才是能够拥你入怀的王子？</string>
			<key>title</key>
			<string>梦100</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i2.hdslb.com/u_user/bf4e35133f507513abffc242967b2287.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/u15b</string>
			<key>hot</key>
			<integer>0</integer>
			<key>id</key>
			<integer>34</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>把我变成真正的偶像吧！</string>
			<key>title</key>
			<string>ICHU(预约)</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i1.hdslb.com/u_user/5ec9663217767fd64cc64bcad24bebd2.jpg</string>
			<key>download_link</key>
			<string>https://itunes.apple.com/cn/app/id1068788360</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>331350016</integer>
			<key>id</key>
			<integer>27</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>吾从未见过如此高颜值之塔防</string>
			<key>title</key>
			<string>山海战记</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i0.hdslb.com/u_user/f6dd36639d53672a7b4ebe597e31c6ee.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/u15X</string>
			<key>hot</key>
			<integer>0</integer>
			<key>id</key>
			<integer>33</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>与魔女的日常</string>
			<key>title</key>
			<string>魔法学园</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i1.hdslb.com/u_user/c340f543267988fe04ad43cf4f19e819.jpg</string>
			<key>download_link</key>
			<string>http://zwhxq.biligame.com/yuyue_ios.html</string>
			<key>hot</key>
			<integer>0</integer>
			<key>id</key>
			<integer>31</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>出发，大小姐探宝团！</string>
			<key>title</key>
			<string>战舞幻想曲</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i2.hdslb.com/u_user/effe1af98375bc451d4f02c721cb6fb4.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/u15j</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>128941856</integer>
			<key>id</key>
			<integer>35</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>萌系格斗の妹控新纪元</string>
			<key>title</key>
			<string>拳击少女</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i2.hdslb.com/u_user/2aca24b417ed947cf35b56957118434c.jpg</string>
			<key>download_link</key>
			<string>https://itunes.apple.com/cn/app/huan-xiang-zhan-ji-song-nu/id976093465?mt=8</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>85668659</integer>
			<key>id</key>
			<integer>2</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>东方幻想，水墨青花</string>
			<key>title</key>
			<string>幻想战姬</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i1.hdslb.com/u_user/8ced5d63f1abaac4abcb433e5024e19c.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/uGM</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>252706816</integer>
			<key>id</key>
			<integer>5</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>呆萌娇蛮兵器娘</string>
			<key>title</key>
			<string>机动战姬</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i1.hdslb.com/u_user/7e5a651f0ef19741d78f52610b50b8f4.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/uMZ</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>360919859</integer>
			<key>id</key>
			<integer>22</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>洛天依带回家</string>
			<key>title</key>
			<string>Zion载音</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i0.hdslb.com/u_user/27b6ac5053ff2bb97d6e8053aa0a0c42.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/uXp</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>243000000</integer>
			<key>id</key>
			<integer>28</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>原汁原味二次元萌格斗</string>
			<key>title</key>
			<string>艾尔战记</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i0.hdslb.com/u_user/7ee7eeac64660e38f789749f355cea12.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/uLW</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>269484032</integer>
			<key>id</key>
			<integer>20</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>无冷却手势连招格斗</string>
			<key>title</key>
			<string>苍翼之刃</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i0.hdslb.com/u_user/64877adf50486cba21f8d48a866f2539.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/uNX</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>253755392</integer>
			<key>id</key>
			<integer>25</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>和阿宝学功夫！</string>
			<key>title</key>
			<string>功夫熊猫</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i1.hdslb.com/u_user/659a983c2845e8ffc74354e8b55aff12.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/uMS</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>44040192</integer>
			<key>id</key>
			<integer>23</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>拯救都市，寻找真相</string>
			<key>title</key>
			<string>消灭都市</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i1.hdslb.com/u_user/009f6d821481a4d6f0210e5708e1144c.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/uBm</string>
			<key>hot</key>
			<integer>1</integer>
			<key>iOS_pkg_size</key>
			<integer>111149056</integer>
			<key>id</key>
			<integer>3</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>无限剑制，命运降临</string>
			<key>title</key>
			<string>乖离性百万亚瑟王</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i2.hdslb.com/u_user/f88bb7fca83f0bbc5845c1ef1a7a6ab7.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/unr</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>269484032</integer>
			<key>id</key>
			<integer>6</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>一根手指，玩转世界！</string>
			<key>title</key>
			<string>白猫计划</string>
		</dict>
		<dict>
			<key>cover</key>
			<string>http://i2.hdslb.com/u_user/803e8639c90cdccf820dafc01a3e20aa.jpg</string>
			<key>download_link</key>
			<string>http://acg.tv/uCj</string>
			<key>hot</key>
			<integer>0</integer>
			<key>iOS_pkg_size</key>
			<integer>155189248</integer>
			<key>id</key>
			<integer>15</integer>
			<key>new</key>
			<integer>0</integer>
			<key>summary</key>
			<string>手指滑动揭开真相！</string>
			<key>title</key>
			<string>星际伙伴</string>
		</dict>
	</array>
</dict>
</plist>
